In [1]:
import pandas as pd

print('importado')

In [20]:
#FUNDOS DE PENSÃO COMO PORCENTAGEM DO PIB

#Importando o arquivo
df_share_gdp = pd.read_csv('res/Assets as share of GDP.csv')

#Eliminando colunas inúteis
df_share_gdp.drop('Pension Plan Type', axis=1, inplace=True)
df_share_gdp.drop('PPTYP', axis=1, inplace=True)
df_share_gdp.drop('DTYP', axis=1, inplace=True)
df_share_gdp.drop('Definition Type', axis=1, inplace=True)
df_share_gdp.drop('CTYP', axis=1, inplace=True)
df_share_gdp.drop('Contract Type', axis=1, inplace=True)
df_share_gdp.drop('VAR', axis=1, inplace=True)
df_share_gdp.drop('Variable', axis=1, inplace=True)
df_share_gdp.drop('IND', axis=1, inplace=True)
df_share_gdp.drop('Indicator', axis=1, inplace=True)
df_share_gdp.drop('Flags', axis=1, inplace=True)
df_share_gdp.drop('Flag Codes', axis=1, inplace=True)
df_share_gdp.drop('Reference Period', axis=1, inplace=True)
df_share_gdp.drop('Reference Period Code', axis=1, inplace=True)
df_share_gdp.drop('PowerCode', axis=1, inplace=True)
df_share_gdp.drop('PowerCode Code', axis=1, inplace=True)
df_share_gdp.drop('Unit', axis=1, inplace=True)
df_share_gdp.drop('YEA', axis=1, inplace=True)

df_share_gdp

     COU      Country  Year Unit Code   Value
0    AUS    Australia  2008        PC  93.390
1    AUS    Australia  2009        PC  82.082
2    AUS    Australia  2010        PC  88.983
3    AUS    Australia  2011        PC  91.856
4    AUS    Australia  2012        PC  90.535
..   ...          ...   ...       ...     ...
791  TZA     Tanzania  2017        PC   8.340
792  UGA       Uganda  2016        PC   9.203
793  IMN  Isle of Man  2016        PC  85.016
794  KAZ   Kazakhstan  2018        PC  16.254
795  MOZ   Mozambique  2018        PC   0.639

[796 rows x 5 columns]